<div id="loadHeader" class="main_header_area animated">
    <div class="container">
        <div class="fondo-logo">
            <div class="pre-navigation">
                <div> <!-- LOGO -->
                    <a href="index.html"><h1 id="logo">Funny Creatures</h1></a>
                </div>
                <div> <!--Shopping Icons -->
                    <a href="#"><span class="material-icons">person</span></a>
                    <a href="#"><span class="material-icons">favorite</span></a>
                    <a href="#" class="carrito"><span class="material-icons">shopping_cart</span><span class="num-carrito"></span></a>
    
                </div>
            </div>
        </div>
    <div class="fondo-nav">
      <nav id="navigation1" class="navigation">
        <!-- Hamburger -->
        <div class="nav-header">
          <div class="nav-toggle"></div>
        </div>
            <!-- Main Menus Wrapper -->
            <div class="nav-menus-wrapper">
                <ul class="nav-menu align-to-right">
                  <li><a href="#">Tienda</a>
                    <div class="megamenu-panel">
                      <div class="megamenu-lists">
                        <ul class="megamenu-list list-col-5">
                          <li class="megamenu-list-title"><a href="#">Partes</a></li>
                          <li><a href="categoria.html" >Cabeza</a></li>
                          <li><a href="categoria.html" >Carcasas</a></li>
                          <li><a href="categoria.html" >Miembros Superiores</a></li>
                          <li><a href="categoria.html" >Miembros Inferiores</a></li>
                          <li><a href="categoria.html" >Órganos</a></li>
                          <li><a href="accesorios.html" >Accesorios</a></li>
          
                        </ul>
                        <ul class="megamenu-list list-col-5">
                          <li class="megamenu-list-title"><a href="#">Especies</a></li>
                          <li><a href="categoria.html" >Terrestres</a></li>
                          <li><a href="acuaticos.html" >Acuáticas</a></li>
                          <li><a href="voladores.html" >Voladoras</a></li>
                      
                        </ul>
                        <ul class="megamenu-list list-col-5">
                          <li class="megamenu-list-title"><a href="alimento.html">Alimentación</a></li>
                          <li><a href="categoria.html" >Carnívora</a></li>
                          <li><a href="categoria.html" >Vegetariana</a></li>
                          <li><a href="categoria.html" >Otra</a></li>
                        </ul>
                        <ul class="megamenu-list list-col-5">
                          <li class="megamenu-list-title"><a href="material.html">Material</a></li>
                          <li><a href="categoria.html">Contención</a></li>
                          <li><a href="categoria.html">Laboratorio</a></li>
          
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li><a href="monstruo-personalizado.html">A la carta</a></li>
                  <li><a href="categoria.html">Outlet</a></li>
                  <li><a href="#">Monstruopedia</a>
                    <div class="megamenu-panel">
                      <div class="megamenu-lists">
                        <ul class="megamenu-list list-col-5">
                          <li class="megamenu-list-title"><a href="#">Bestias</a></li>
                          <li><a href="#">Lupinos</a></li>
                          <li><a href="#">Acuaninos</a></li>
                          <li><a href="#">Homininos</a></li>
                          <li><a href="#">Draconinos</a></li>
                          <li><a href="#">Avininos</a></li>
                        </ul>
                        <ul class="megamenu-list list-col-5">
                          <li class="megamenu-list-title"><a href="#">Alimañas</a></li>
                          <li><a href="#">Topillo</a></li>
                          <li><a href="#">Chupacabra</a></li>
                          <li><a href="#">Urtirata</a></li>
                          <li><a href="#">Picadreja</a></li>
                          <li><a href="#">Perrón</a></li>
                        </ul>
                        <ul class="megamenu-list list-col-5">
                          <li class="megamenu-list-title"><a href="#">Escamosos</a></li>
                          <li><a href="#">Lubino</a></li>
                          <li><a href="#">Sardana</a></li>
                          <li><a href="#">Submaromo</a></li>
                          <li><a href="#">Serpentina</a></li>
                          <li><a href="#">Tulunino</a></li>
                        </ul>
                        <ul class="megamenu-list list-col-5">
                          <li class="megamenu-list-title"><a href="#">Gomosos</a></li>
                          <li><a href="#">Pulposos</a></li>
                          <li><a href="#">Gamusinos</a></li>
                          <li><a href="#">Babosinos</a></li>
                          <li><a href="#">Krakenes</a></li>
                          <li><a href="#">Chtulhu</a></li>
                        </ul>
                        <ul class="megamenu-list list-col-5">
                            <li class="megamenu-list-title"><a href="#">Lenguabífidos</a></li>
                            <li><a href="#">Matasuegras</a></li>
                            <li><a href="#">Largarterano</a></li>
                            <li><a href="#">Deslizón</a></li>
                            <li><a href="#">Minikrone</a></li>
                            <li><a href="#">Membranito</a></li>
                          </ul>
                          <ul class="megamenu-list list-col-5">
                            <li class="megamenu-list-title"><a href="#">Viscosones</a></li>
                            <li><a href="#">Comemoscas</a></li>
                            <li><a href="#">Mocón</a></li>
                            <li><a href="#">Salamantesca</a></li>
                            <li><a href="#">Sirena</a></li>
                            <li><a href="#">Saltababas</a></li>
                          </ul>
                          <ul class="megamenu-list list-col-5">
                            <li class="megamenu-list-title"><a href="#">Emplumados</a></li>
                            <li><a href="#">Palomino</a></li>
                            <li><a href="#">Buchón</a></li>
                            <li><a href="#">Pavo</a></li>
                            <li><a href="#">Dinopollo</a></li>
                            <li><a href="#">Carnoñero</a></li>
                          </ul>
                          <ul class="megamenu-list list-col-5">
                            <li class="megamenu-list-title"><a href="#">Crujientitos</a></li>
                            <li><a href="#">Cucaminga</a></li>
                            <li><a href="#">Garragarra</a></li>
                            <li><a href="#">Moscón</a></li>
                            <li><a href="#">Guijón</a></li>
                            <li><a href="#">Toxopendra</a></li>
                          </ul>
                      </div>
                    </div>
                  </li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="contacto.html">Contacto</a></li>
                  
                </ul>
              </div>
        <!-- Search panel Start -->
        <div class="nav-search">
          <div class="nav-search-button">
            <span class="material-icons">search</span>
          </div>
          <form>
            <div class="nav-search-inner">
              <input type="search" name="search" placeholder="Busca aquí...">
            </div>
          </form>
        </div>
    
      </nav>
    </div>
    </div>
</div>

<section id="loadFooter"> 
<div class="newsletter">
  <form id="newsletter" method="post" action="index.php">
    <fieldset>
      <div class="form-content contenedor">
        <div><p>Suscríbete para recibir nuestros boletines de forma regular. <span>Selecciona al menos una casilla.</span></p></div>
        <div>
          <div class="opciones-newsletter">
            <div>
              <input type="checkbox" name="ofertas" id="ofertas" checked>
              <label for="ofertas">Ofertas</label>
            </div>
            <div>
              <input type="checkbox" name="novedades" id="novedades" checked>
              <label for="novedades">Novedades</label>
            </div>
            <div>
              <input type="checkbox" name="ofertas" id="info" checked>
              <label for="info">Información</label>
            </div>
          </div>
        </div>
        <div class="mail-input">
          <span>*</span>
          <input type="text" id="emailnews" name="emailnews" placeholder="email">
        </div>
        
        <div>
          <button type="submit" class="boton">Suscribirse</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<div class="footer-links">
  <div class="columnas contenedor">
    <div class="listas-links">
      <ul>
        <li><p>Sobre Dr. Stein</p></li>
        <li><a href="#">Tienda de Monstruos</a></li>
        <li><a href="#">Dr. Stein's Lab Journal</a></li>
        <li><a href="#">Preguntas Frecuentes</a></li>
        <li><a href="#">Trabaja con Nosotros</a></li>
      </ul>
    </div>
    <div class="listas-links">
      <ul>
        <li><p>Sobre las Transacciones</p></li>
        <li><a href="#">Condiciones de uso</a></li>
        <li><a href="#">Privacidad y cookies</a></li>
        <li><a href="#">Devoluciones</a></li>
      </ul>
    </div>
    <div class="listas-links">
      <ul>
        <li><a href="contacto.html">Contacto</a></li>
        <li><a href="contacto.html">Formulario de contacto</a></li>
        <li><a href="mailto:hola@funnycreatures.com">hola@funnycreatures.com</a></li>
        <li><a href="tel:+666666666"><i class="fas fa-phone"></i> +666 666 666</a></li>
      </ul>
    </div>
    <div class="listas-links">
      <ul>
        <li><p>Síguenos</p></li>
        <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
        <li><a href="#"><i class="fab fa-facebook-square"></i> Facebook</a></li>
        <li><a href="#"><i class="fab fa-twitter-square"></i> Twitter</a></li>
        <li><a href="#"><i class="fab fa-youtube"></i> Youtube</a></li>
      </ul>
    </div>
  </div>
  <div id="copyright">

  <p class="contenedor">Dr. Stein's Funny Creatures &copy; 2020, hecho con <span class="material-icons">favorite</span> de monstruo por M.</p>

  </div>
</div>
</section>